body {
    background-color: white;
    color:black;
    font-family: Arial;
    
}



.top-banner h1 {
  position: absolute;
  bottom: .2em;
  left: .2em;
  font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 10em;
}




.top-banner {
       background-image:
        linear-gradient(
             rgba(0,0,0,0.5),
             rgba(0,0,0,0.5)
        ),
        url("images/banner.jpeg");

    background-size: cover;
    background-position: center;

    height: 75vh;

    color: white;

    position: relative;   
}




.top-banner p {
    font-size: 1em;
    margin-top: 0.5em;
}